# General default settings
Host *
  ForwardAgent yes
  SendEnv PS1 EDITOR VISUAL
  ServerAliveInterval 300
  IdentitiesOnly yes
  ForwardAgent no

# Aliasing makes it possible to use different identity files for different logical remotes on the same physical remote
Host cppcommon.alias.github.com
  Hostname github.com
  # IdentityFile file...
  # User username-on-remote-machine
