
# This only prints the performance of each cipher for comparison. It does not evaluate confidentiality or integrity.
# for i in `ssh -Q cipher`; do dd if=/dev/zero bs=1M count=100 2> /dev/null | ssh -c $i localhost "(time -p cat) > /dev/null" 2>&1 | grep real | awk '{print "'$i': "100 / $2" MB/s" }'; done
Ciphers aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes128-ctr,chacha20-poly1305@openssh.com

# SendEnv PS1 EDITOR VISUAL
ControlPath none
FingerprintHash sha256
Compression no
HashKnownHosts yes
PermitLocalCommand no
ServerAliveInterval 300
ConnectTimeout 5
ConnectionAttempts 1
PasswordAuthentication no
IdentitiesOnly yes
ForwardAgent no
AddKeysToAgent no
ForwardX11 no

# Aliasing makes it possible to use different identity files for different logical remotes on the same physical remote
Host cppcommon.alias.github.com
  Hostname github.com
  # IdentityFile file...
  # User username-on-remote-machine
