[alias]
  a   = add
  br  = branch
  ci  = commit
  change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ $`echo $VAR` = \\\"$OLD\\\" ]]; then export $VAR=\\\"$NEW\\\"; fi\" $@; }; f "
  cl  = clone
  co  = checkout
  cp  = cherry-pick
  sign-commit = commit -S
  sc  = commit -S
  sign-merge = merge -S
  sm  = merge -S
  d   = "!f() { git diff --color "$1"^.."$1"; }; f"
  dlc = diff --cached HEAD^
  i   = init
  gr  = log --graph --color --pretty=format:"%C(yellow)%h\\ %Cgreen%cr\\%Cred%d\\ %Creset%s%Cblue\\ [%cn]"
  le  = log --oneline --decorate
  ll  = log --pretty=format:"%C(yellow)%h\\ %Cgreen%cr\\%Cred%d\\ %Creset%s\\ %Cblue\\ [%cn]" --decorate --numstat
  ls  = log --pretty=format:"%C(yellow)%h\\ %Cgreen%cr\\%Cred%d\\ %Creset%s\\ %Cblue\\ [%cn]" --decorate
  s   = status --branch --short
[color]
  ui = auto
[core]
  fileMode = true
[fetch]
  prune = true
[push]
  default = current
[user]
  name = Keith Bennett
  email = kanezor@gmail.com
  signingkey = 8202B23B02488649
